# Dependencies
backend/vendor/
frontend/node_modules/

# Environment
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build
frontend/dist/
backend/bin/
backend/tmp/

# Docker
pgdata/
redisdata/
miniodata/

# Go
*.exe
*.test
*.out
